<!-- extend base layout -->
{% extends "base.html" %}
{% block head %}
{{ super() }}
<style>
    #avatar-img {
        height: 128px;
        width: 128px;
    }

    #avatar-img img {
        height: 100%;
        width: 100%;
    }

    .circular.segment {
        height: 175px;
        width: 175px;
    }
</style>

{% endblock %}

{% block content %}
    <html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>认识table表标签</title>
</head>
<h1>Microblog Thug Life</h1>
<img id="showimg" src="/static/image/fuckpride.jpg">
<style type="text/css">
table tr td,th{border:1px solid #000;}
</style>
<body>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<div class=page>
  <h1>Welcome</h1>
   <hr>
    <div class="posts">
      {% for post in posts %}
      <img id="avatar-img" src="/static/image/user.png"><br />
       <font size="3" color="black">{{ post.body }}</font><br />
       <a>@{{ post.username }} </a><font size="1" color="black">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;issue time : {{ post.issuing_time }}</font>
        <hr>
      {% endfor %}
    </div>
    <hr>
  {% for message in get_flashed_messages() %}
    <div class=flash>{{ message }}</div>
  {% endfor %}
  {% block body %}{% endblock %}
</div>
</body>
</html> 
{% endblock %}
