{% extends "base.html" %}

{% block content %}
  <style>
    #avatar-img {
        height: 60px;
        width: 60px;
    }

    #avatar-img img {
        height: 50%;
        width: 50%;
    }

    .circular.segment {
        height: 175px;
        width: 175px;
    }
</style>
              
<style>
    #avatar-img {
        height: 60px;
        width: 60px;
    }

    #avatar-img img {
        height: 50%;
        width: 50%;
    }

    .circular.segment {
        height: 175px;
        width: 175px;
    }
</style>

<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title> profile</title>
</head>
<body>
    <a href = "{{ url_for('index') }}">Home</a>
    <hr>
    <div class="ui small image" id="avatar">
              {% if avatar %}
                <img id="avatar-img" src="{{ url_for('uploaded_file', avatar=avatar) }}"><br />
              {% else %}
                <img src="/static/image/user.png">
              {% endif %}
   </div>
   <br />
    <form>
    <!-- ur and li is a way to show the message -->
    <ur>
       <li>User Name : {{ user['username'] }} </li>
       <li>User Email :  {{ user['email'] }} </li>
       <li>About me :  {{ user['about_me'] }} </li>
    </ur>
    <br />
    <a href="{{ url_for('edit_profile') }}">edite profile</a>
    <hr>
</body>




{% endblock %}