{% extends "base.html" %}

{% block content %}
<body>
   <h1>Register</h1>
    <img id="avatar-img" src="/static/image/user.png"><br />
    <form action="" method="post" enctype="multipart/form-data">
      <p>upload image</p>
        {{ form.csrf_token() }}
        <p>{{ form.username.label }} <br /> {{ form.username }}</p>       
        <p>{{ form.password.label }} <br /> {{ form.password }}</p>
        <p>{{ form.password2.label }} <br /> {{ form.password2 }}</p>
        <p>{{ form.email.label }} <br /> {{ form.email }}</p> 
        <p>{{ form.about_me.label }} <br /> {{ form.about_me }}</p> 
        <!-- div is a container that desparate the information -->   
        <!-- span and strong are for high light -->
        <button class="btn btn-default" type="submit">Submit</button>
    </form>    
          
          <span>or</span>
          <strong>go to</strong>
          <a href = "{{ url_for('login') }}">login</a>
</body>


{% endblock %}