{% extends "base.html" %}

{% block content %}
<body>
   <h1>Register</h1>  
    <form method = 'post'>
        {{ form.csrf_token() }}
        <p>{{ form.username.label }} <br /> {{ form.username }}</p>       
        <p>{{ form.password.label }} <br /> {{ form.password }}</p>
        <p>{{ form.password2.label }} <br /> {{ form.password2 }}</p>
        <p>{{ form.email.label }} <br /> {{ form.email }}</p> 
        <!-- div is a container that desparate the information -->   
        <div class="price">
        <!-- span and strong are for high light -->
          <button class="btn btn-default" type="submit">Submit</button>
          <span>or</span>
          <strong>go to</strong>
          <a href = "{{ url_for('login') }}">login</a>
        </div>
    <!-- hr is a line -->
    <hr>
    <!-- ol is a way to show message in order with time order label -->
    <ol>
       <li>大吉大利</li>
       <li>今晚吃鸡</li>
       <li>王者农药</li>
    </ol> 
    <!-- address is for highlight the information -->   
    <address>
       网站作者github：<a href="https://github.com/Walter900">你的同摸大鸡</a>
    </address>
    <form>
</body>


{% endblock %}