{% extends "base.html" %}
{% block content %}
<style>
    #avatar {
        height: 128px;
        width: 128px;
    }

    #avatar img {
        height: 50%;
        width: 50%;
    }

    .circular.segment {
        height: 175px;
        width: 175px;
    }
</style>
        <h2>You are in homepage!</h2>
        <!doctype html>
    <title>Upload new File</title>
    <h1>avatar</h1>
     <p>{{ avatar  }}</p>
    <h1>avatar id</h1>
    <form action="" method=post enctype=multipart/form-data>
      <p>{{ avatar_id  }}</p>
    </form>
    {% if avatar %}
        <img id="avatar" src="{{ url_for('uploaded_file', avatar=avatar) }}">
    {% else %}
        <img src="/image/user.png">
    {% endif %}

{% endblock %}